<table style="border-collapse: collapse; width: 100%; border-width: 0px; background-color: #ffffff;" border="1"><colgroup><col style="width: 99.8857%;"></colgroup>
    <tbody>
    <tr>
    <td style="border-width: 0px;">&nbsp;</td>
    </tr>
    </tbody>
    </table>
    <div style="background-color: white; height: 100px; width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 8%;">
    <div class="wel" style="display: flex; justify-content: space-around; align-items: center; width: 85%; height: 250px; background-color: #2596be; border-radius: 100% 0% 100% 0% / 0% 47% 53% 100%;"><img src="https://drive.google.com/uc?id=12yUvuYIjnGRvdunTd_7oHhpvORjQqEKM" alt="" width="80" height="60">
    <h1 style="margin-right: 5%; color: antiquewhite; font-size: 3.5rem; font-weight: bolder; letter-spacing: 0.1rem;">Newsletter</h1>
    <img style="margin-right: 10%;" src="https://drive.google.com/uc?id=1J9K13vFqclE6kM3Aa5P4zD4jehhwZ2so" alt="" width="75" height="56"></div>
    <div class="stamp" style="height: 100px; width: 100px; border-radius: 50%; background-color: #fff;">&nbsp;</div>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 10%;">
    <p style="font-weight: bold; color: #57606f;"><a href="#">Update your preferences </a>today to receive</p>
    <p style="margin-top: -2%; font-weight: bold; color: #57606f;">tailored and personalized content aligned to your role.</p>
    </div>
    <h4 style="font-size: 1.8rem; font-weight: bold; margin-left: 3%; color: #2f3542;">Top Of Mind</h4>
    <div style="display: flex; background-color: #fff;"><img style="height: 120px; margin-left: 3%;" src="https://drive.google.com/uc?id=18N7PsicSNT8EeQZl-y0FrNV7G5iFX0Fm" srcset="" alt="" width="NaN">
    <div style="margin-left: 20px; margin-top: -3%;">
    <h5 style="color: #2c3e50; font-size: 1.1rem;">some heading text title title title title</h5>
    <p style="width: 65%; font-size: 1rem; margin-top: -3%;">Learn how to talk about the latest Salesforce innovations and why they&rsquo;re relevant right now.</p>
    <div style="margin-top: -2%;"><a style="color: #22a6b3; margin-top: -50px; font-size: 1.1rem;" href="#">Go to Partner Learning Camp &gt;&gt;</a></div>
    </div>
    </div>
    <div class="boxes" style="display: flex; justify-content: space-around; margin-top: 5%;">
    <div style="height: 120px; width: 120px; border-radius: 50%; background-color: #3498db; text-align: center; display: flex; justify-content: center; align-items: center; font-size: 1rem; color: #fff;">Manage your preference</div>
    <div style="height: 120px; width: 120px; border-radius: 50%; background-color: #3498db; text-align: center; display: flex; justify-content: center; align-items: center; font-size: 1rem; color: #fff;">Text2</div>
    <div style="height: 120px; width: 120px; border-radius: 50%; background-color: #3498db; text-align: center; display: flex; justify-content: center; align-items: center; font-size: 1rem; color: #fff;">Text3</div>
    <div style="height: 120px; width: 120px; border-radius: 50%; background-color: #3498db; text-align: center; display: flex; justify-content: center; align-items: center; font-size: 1rem; color: #fff;">Text4</div>
    </div>
    <div class="ps" style="background-color: #eaf6fc; padding-top: 10px; margin-top: 5%;">
    <h4 style="font-size: 1.8rem; font-weight: bold; margin-left: 3%; margin-top: 5%; color: #2f3542;">Partner Headlines</h4>
    <div style="display: flex; margin-top: 2%;"><img style="height: 120px; margin-left: 3%;" src="https://drive.google.com/uc?id=18N7PsicSNT8EeQZl-y0FrNV7G5iFX0Fm" srcset="" alt="" width="NaN">
    <div style="margin-left: 20px; margin-top: -3%;">
    <h5 style="color: #2c3e50; font-size: 1.1rem;">some heading text title title title title</h5>
    <p style="width: 65%; font-size: 1rem; margin-top: -3%;">Learn how to talk about the latest Salesforce innovations and why they&rsquo;re relevant right now.</p>
    <div style="margin-top: -2%;"><a style="color: #22a6b3; margin-top: -50px; font-size: 1.1rem;" href="#">Go to Partner Learning Camp &gt;&gt;</a></div>
    </div>
    </div>
    <div style="display: flex; margin-top: 2%;"><img style="height: 120px; margin-left: 3%;" src="https://drive.google.com/uc?id=18N7PsicSNT8EeQZl-y0FrNV7G5iFX0Fm" srcset="" alt="" width="NaN">
    <div style="margin-left: 20px; margin-top: -3%;">
    <h5 style="color: #2c3e50; font-size: 1.1rem;">some heading text title title title title</h5>
    <p style="width: 65%; font-size: 1rem; margin-top: -3%;">Learn how to talk about the latest Salesforce innovations and why they&rsquo;re relevant right now.</p>
    <div style="margin-top: -2%;"><a style="color: #22a6b3; margin-top: -50px; font-size: 1.1rem;" href="#">Go to Partner Learning Camp &gt;&gt;</a></div>
    </div>
    </div>
    <div style="display: flex; margin-top: 2%;"><img style="height: 120px; margin-left: 3%;" src="https://drive.google.com/uc?id=18N7PsicSNT8EeQZl-y0FrNV7G5iFX0Fm" srcset="" alt="" width="NaN">
    <div style="margin-left: 20px; margin-top: -3%;">
    <h5 style="color: #2c3e50; font-size: 1.1rem;">some heading text title title title title</h5>
    <p style="width: 65%; font-size: 1rem; margin-top: -3%;">Learn how to talk about the latest Salesforce innovations and why they&rsquo;re relevant right now.</p>
    <div style="margin-top: -2%;"><a style="color: #22a6b3; margin-top: -50px; font-size: 1.1rem;" href="#">Go to Partner Learning Camp &gt;&gt;</a></div>
    </div>
    </div>
    <div style="display: flex;"><img style="height: 120px; margin-left: 3%;" src="https://drive.google.com/uc?id=18N7PsicSNT8EeQZl-y0FrNV7G5iFX0Fm" srcset="" alt="" width="NaN">
    <div style="margin-left: 20px; margin-top: -3%;">
    <h5 style="color: #2c3e50; font-size: 1.1rem;">some heading text title title title title</h5>
    <p style="width: 65%; font-size: 1rem; margin-top: -3%;">Learn how to talk about the latest Salesforce innovations and why they&rsquo;re relevant right now.</p>
    <div style="margin-top: -2%;"><a style="color: #22a6b3; margin-top: -50px; font-size: 1.1rem;" href="#">Go to Partner Learning Camp &gt;&gt;</a></div>
    </div>
    </div>
    </div>
    <div style="background-color: #fff;">
    <h4 style="font-size: 1.8rem; font-weight: bold; margin-left: 3%; color: #2f3542;">A Pulse on Partners</h4>
    <div style="display: flex; background-color: #fff; color: #fff; margin-top: 2%;"><img style="height: 150px; margin-left: 3%;" src="https://drive.google.com/uc?id=18N7PsicSNT8EeQZl-y0FrNV7G5iFX0Fm" srcset="" alt="" width="NaN">
    <div style="margin-left: 20px;">
    <h5>Get Salesforce corporate messaging certified</h5>
    <p>Learn how to talk about the latest Salesforce innovations and why they&rsquo;re relevant right now.</p>
    <a href="#">Go to Partner Learning Camp &gt;&gt;</a></div>
    </div>
    <div style="display: flex; background-color: #fff; color: #fff; margin-top: 5%;">
    <div>
    <h5>Get Salesforce corporate messaging certified</h5>
    <p>Learn how to talk about the latest Salesforce innovations and why they&rsquo;re relevant right now.</p>
    <a href="#">Go to Partner Learning Camp &gt;&gt;</a></div>
    <img style="height: 150px;" src="https://drive.google.com/uc?id=18N7PsicSNT8EeQZl-y0FrNV7G5iFX0Fm" srcset="" alt="" width="NaN"></div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 5%;"><img style="height: 130px;" src="https://drive.google.com/uc?id=1BA6nDofYk2BDk20AiHyKhFAug4EwA2uX"></div>
    <h4 style="font-size: 1.8rem; font-weight: bold; margin-left: 3%; color: #2f3542;">Events</h4>
    <div style="display: flex; background-color: #fff; color: #fff; margin-top: 1%;"><img style="height: 150px; margin-left: 3%;" src="https://drive.google.com/uc?id=18N7PsicSNT8EeQZl-y0FrNV7G5iFX0Fm" srcset="" alt="" width="NaN">
    <div style="margin-left: 20px;">
    <h5>Get Salesforce corporate messaging certified</h5>
    <p>Learn how to talk about the latest Salesforce innovations and why they&rsquo;re relevant right now.</p>
    <a href="#">Go to Partner Learning Camp &gt;&gt;</a></div>
    </div>
    <div style="display: flex; background-color: #fff; color: #fff; margin-top: 1%;"><img style="height: 150px; margin-left: 3%;" src="https://drive.google.com/uc?id=18N7PsicSNT8EeQZl-y0FrNV7G5iFX0Fm" srcset="" alt="" width="NaN">
    <div style="margin-left: 20px;">
    <h5>Get Salesforce corporate messaging certified</h5>
    <p>Learn how to talk about the latest Salesforce innovations and why they&rsquo;re relevant right now.</p>
    <a href="#">Go to Partner Learning Camp &gt;&gt;</a></div>
    </div>
    <div style="display: flex; background-color: #fff; color: #fff; margin-top: 1%;"><img style="height: 150px; margin-left: 3%;" src="https://drive.google.com/uc?id=18N7PsicSNT8EeQZl-y0FrNV7G5iFX0Fm" srcset="" alt="" width="NaN">
    <div style="margin-left: 20px;">
    <h5>Get Salesforce corporate messaging certified</h5>
    <p>Learn how to talk about the latest Salesforce innovations and why they&rsquo;re relevant right now.</p>
    <a href="#">Go to Partner Learning Camp &gt;&gt;</a></div>
    </div>
    <div class="ratings" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <p>How helpful was this email?</p>
    <div style="display: flex; justify-content: space-around; width: 100%;">
    <p>not helpful</p>
    <div class="stars" style="display: flex;"><img style="height: 50px;" src="https://drive.google.com/uc?id=18-IZDW0lapoC1OBk2Cwz6zITijHPt458" srcset="" alt=""> <img style="height: 50px;" src="https://drive.google.com/uc?id=1MvEh-JzWiXprYHb-w2v627bd89PQqWjL" srcset="" alt=""> <img style="height: 50px;" src="https://drive.google.com/uc?id=1mtmtaFYQ9muhKmA5ADBTBA-aIsyjWd48" srcset="" alt=""> <img style="height: 50px;" src="https://drive.google.com/uc?id=12L29XXJvGqaGIjl9_GvDAdRSPn-VJIjK" srcset="" alt=""> <img style="height: 50px;" src="https://drive.google.com/uc?id=1qId1ggqJIaASJFrweNWobe8ZeJbyvgAR" srcset="" alt=""></div>
    <p>very helpful</p>
    </div>
    </div>
    <p><img style="width: 100%; margin-top: 1%;" src="https://drive.google.com/uc?id=1pAacABUKYHPIFkzUuh03Vcp39SX8UU0K" srcset="" alt=""></p>
    <div class="footer" style="display: flex; flex-direction: column; background-color: #0c2461; margin-top: -5%; height: 120px;">
    <div class="icons" style="display: flex; justify-content: center; align-items: center; margin-top: 6%;">
    <div style="margin-left: 10px; height: 30px; width: 30px; border-radius: 50%; background-color: #fff;"><a href="#"><img srcset="" alt=""></a></div>
    <div style="margin-left: 10px; height: 30px; width: 30px; border-radius: 50%; background-color: #fff;"><a href="#"><img srcset="" alt=""></a></div>
    <div style="margin-left: 10px; height: 30px; width: 30px; border-radius: 50%; background-color: #fff;"><a href="#"><img srcset="" alt=""></a></div>
    <div style="margin-left: 10px; height: 30px; width: 30px; border-radius: 50%; background-color: #fff;"><a href="#"><img srcset="" alt=""></a></div>
    </div>
    </div>